.header__lang-item {
  margin: 0;
  padding: 14px 18px 8px 0;
}
  
.header__lang-item:last-child {
  padding-right: 0;
}

@media screen and (min-width: 768px) {
  .header__lang-item {
    padding: 18px 18px 6px 0;
  }
}